@model Productivity_X.Models.UserCreateAccnt

@{
	ViewData["Title"] = "Create Account";
}

<div>
    <form asp-action="AddUser">
        <div id="createLogo">
            <img src="~/Images/ProductivityXLogo.png" alt="Productivity X Logo" />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div id="createAccountTextInput">
            <input asp-for="fname" placeholder="First Name" class="form-control" />
            <span asp-validation-for="fname" class="text-danger"></span>

            <br />

            <input asp-for="username" placeholder="username" class="form-control" />
            <span asp-validation-for="username" class="text-danger"></span>

            <br />

            <input asp-for="password" placeholder="Password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>

        <div id="createAccountTextInput2">
            <input asp-for="lname" placeholder="Last Name" class="form-control" />
            <span asp-validation-for="lname" class="text-danger"></span>

            <br />

            <input asp-for="email" placeholder="Email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>

            <br />

            <input asp-for="confirmPassword" placeholder="Confirm Password" class="form-control" />
            <span asp-validation-for="confirmPassword" class="text-danger"></span>
        </div>

            <input type="button" id="backButton" value="Back" onclick="location.href='@Url.Action("Index")'" />
            <input type="submit" id="createAccountButton" value="Create Account" />
    </form>
</div>

@if (ViewBag.Message != null)
{
	<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
	</script>

}