@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Productivity_X.Models.ForgotPw3
@{
	ViewData["Title"] = "Forgot Password";
}

<div>
	<form asp-action="EnterNewPassword">

		<div id="forgotLogo">
			<img src="~/Images/ProductivityXLogo.png" alt="Productivity X Logo" />
		</div>
		<div id="loginTextInput">
			<input asp-for="newPassword" placeholder="New Password" class="form-control" />
			<span asp-validation-for="newPassword" class="text-danger"></span>
			<br />
			<br />
			<input asp-for="confirmPassword" placeholder="Confirm Password" class="form-control" />
			<span asp-validation-for="confirmPassword" class="text-danger"></span>
		</div>

		<input type="submit" id="verifyCodeButton" value="Change Password" onclick="location.href='@Url.Action("Index")'" />

		<input type="button" id="backButtonPW" value="Back" onclick="location.href='@Url.Action("Index")'" />
		</form>
</div>

@if (ViewBag.Message != null)
{
	<script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
	</script>

}