@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Productivity_X.Models.ForgotPw
@{
    ViewData["Title"] = "Forgot Password";
}

<div>
    <div id="forgotLogo">
        <img src="~/Images/ProductivityXLogo.png" alt="Productivity X Logo" />
    </div>
        <p id="forgotPwText">
            Please verify the email that goes with the <br />
            username *USERNAME*
        </p>
    <div id="forgotPwTextInput">
        <input asp-for="email" placeholder="Email" class="form-control" />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>

    <input type="submit" id="verifyEmailButton" value="Verify Email" />

    <input type="button" id="backButtonPW" value="Back" />
</div>
