@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Productivity_X.Models.ForgotPw
@{
    ViewData["Title"] = "Forgot Password";
}

<div>
    <div id="forgotLogo">
        <img src="~/Images/ProductivityXLogo.png" alt="Productivity X Logo" />
    </div>
    <p id="forgotPwText">
        Please enter your username and the email <br />
        that goes along with that username
    </p>
        <div id="forgotPwEmailInput">
            <input asp-for="email" placeholder="Email" class="form-control" />
        </div>
        <div id="forgotPwUsernameInput">
            <input asp-for="username" placeholder="Username" class="form-control" />
        </div>

    <input type="submit" id="verifyButton" value="Verify" onclick="location.href='@Url.Action("ForgotPassword2")'"/>

    <input type="button" id="backButtonPW" value="Back" onclick="location.href='@Url.Action("Index")'" />
</div>
