@model Productivity_X.Models.UserLogin;

@{
	ViewData["Title"] = "Home Page";
}

<div class="container">
	<h1>
		Login
	</h1>
	<form asp-action="LoginUser">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="form-group">
			<label asp-for="username" class="control-label"></label>
			<input asp-for="username" class="form-control" />
			<span asp-validation-for="username" class="text-danger"></span>

			<label asp-for="password" class="control-label"></label>
			<input asp-for="password" class="form-control" />
			<span asp-validation-for="password" class="text-danger"></span>
			
			<div class="form-group">
				<input type="submit" value="Login" />

				<input type="button" value="Create Account" onclick="location.href='@Url.Action("CreateAccount", "Home")'" />
			</div>
		</div>
	</form>
</div>

@if (ViewBag.Message != null)
{
	<script type="text/javascript">

    window.onload = function () {
        alert("@ViewBag.Message");
    };
	</script>

}