@model Productivity_X.Models.UserLogin;

@{
	ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <form asp-action="LoginUser">
        <div id="loginLogo">
            <img src="~/Images/ProductivityXLogo.png" alt="Productivity X Logo" />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div id="loginTextInput">
            <input asp-for="username" placeholder="Username" class="form-control" />
            <span asp-validation-for="username" class="text-danger"></span>
            <br />
            <br />
            <input asp-for="password" placeholder="Password" class="form-control" />
            <span asp-validation-for="password" class="text-danger"></span>
        </div>

        <input type="submit" id="loginButton" value="Login" />

        <input type="button" id="createButton" value="Create Account" onclick="location.href='@Url.Action("CreateAccount", "Home")'" />

        <input type="button" id="forgotPwButton" value="Forgot Password" onclick="location.href='@Url.Action("ForgotPassword", "Home")'" />
    </form>
</div>

@if (ViewBag.Message != null)
{
	<script type="text/javascript">

    window.onload = function () {
        alert("@ViewBag.Message");
    };
	</script>

}