@model Productivity_X.Models.UserCreateEvent;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Weekly";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="~/css/family.css" rel="stylesheet">
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/css/vuetify.min.css" rel="stylesheet">

    <style>
        .my-event {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 2px;
            background-color: #1867c0;
            color: #ffffff;
            border: 1px solid #1867c0;
            font-size: 12px;
            padding: 3px;
            cursor: pointer;
            margin-bottom: 1px;
            left: 4px;
            margin-right: 8px;
            position: relative;
        }

            .my-event.with-time {
                position: absolute;
                right: 4px;
                margin-right: 0px;
            }

        .theme--light.v-calendar-daily {
            background-color: #303030;
            border-left: 1px solid #e0e0e0;
            border-top: 1px solid #e0e0e0;
        }

            .theme--light.v-calendar-daily .v-calendar-daily_head-day {
                color: #fff;
            }

        .my-app.v-application .primary--text {
            color: #fff !important;
        }

        .title {
            justify-content: center;
            font-size: 25px;
            color: gold;
        }

        .round_icon {
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        #weekHeader {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-content: space-evenly;
            margin: 3%;
        }

        #createBtn {
            background-image: url(../test/img/c3.jpg);
        }

        #create {
            flex-wrap: nowrap;
            justify-content: center;
        }

        #btnclick {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 0.1em solid #353535;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.40em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            background-color: #353535;
            color: #FFA700;
            text-align: center;
            transition: all 0.2s;
        }

            #btnclick:hover {
                background: #424242;
            }

        #HidebtnModal {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 0.1em solid #353535;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.40em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            background-color: #353535;
            color: #FFA700;
            text-align: center;
            transition: all 0.2s;
        }

            #HidebtnModal:hover {
                background: #424242;
            }

        #createEventSubmit {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 0.1em solid #353535;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.40em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            background-color: #353535;
            color: #FFA700;
            text-align: center;
            transition: all 0.2s;
        }

            #createEventSubmit:hover {
                background: #424242;
            }

        .container #eventModal1 {
            width: 50%;
            float: left;
        }

        .container #eventModal2 {
            width: 50%;
            float: right;
        }

        .container #guest {
            width: 50%;
            margin:auto;
            clear: both;
        }

        .modal-body {
            background-image: url('../Images/background2.jpeg');
        }

        .container #rem {
            background-color: white;
        }

        .container #guest {
            background-color: white;
        }

        small {
            background: rgba(91, 86, 85, .48);
            border-radius: 15px;
            color: #FFA700;
            font-size: 15px;
        }
        .inputs {
            height: 45px;
            opacity: 90%;
        }
    </style>
</head>
<body>


    <div id="app" style=" width: 100%; padding-left: 13%;">
        <div id="weekHeader">
            <div id="create">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10">
                            <button id="btnclick" type="button">
                                Create Event
                            </button>


                            <div class="modal fade" id="login">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header text-center" style=" background-image: url('../Images/background2.jpeg'); border: none; border-bottom: 0 none; border-top:  rgba(43,42,40,255) solid 8px; border-right: rgba(53, 53, 53, 0.7) solid 8px; border-left: rgba(43,42,40,255) solid 8px;">
                                            <h3 class="modal-title w-100" style="color: #FFA700; font-weight: bold; background: rgba(0, 132, 255, 0.7); border-radius: 25px;">Create Event</h3>

                                        </div>
                                        <div class="modal-body" style=" border-right: rgba(53, 53, 53, 0.7) solid 8px; border-left: rgba(43,42,40,255) solid 8px;">
                                            <form asp-action="CreateEvent" id="createform">
                                                <div class="container" id="eventModal1">
                                                    <div class="form-group" id="eventNm">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event Name&nbsp;</small>
                                                        <input class="form-control inputs" type="text"
                                                               placeholder="Event Name" id="eventName" asp-for="eventName" />

                                                    </div>
                                                    <div class="form-group" id="eventStart">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event start time&nbsp;</small>
                                                        <input class="form-control inputs" type="time" name="start_at"
                                                               min="07:00" max="23:00" required asp-for="start_at" />
                                                    </div>

                                                    <div class="form-group" id="eventLocation">
                                                        <small>&nbsp;Event Location&nbsp;</small>
                                                        <input class="form-control inputs" type="text"
                                                               placeholder="Location" id="location" asp-for="location" />
                                                    </div>

                                                    <div class="form-group" id="eventDesc">
                                                        <small>&nbsp;Event Description (100 characters)&nbsp;</small>
                                                        <textarea name="description" cols="41" rows="2"
                                                                  placeholder="Description" id="description" maxlength="100"
                                                                  style="background-color: white; border-radius: 5px; opacity: 90%;"></textarea>
                                                        <input id="description" asp-for="description" />

                                                    </div>

                                                </div>

                                                <div class="container" id="eventModal2">
                                                    <div class="form-group" id="eventDate">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event Date&nbsp;</small>
                                                        <input class="form-control inputs" type="date" name="event_date" asp-for="event_date" />
                                                    </div>
                                                    <div class="form-group" id="eventStart">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event end time&nbsp;</small>
                                                        <input class="form-control inputs" type="time" name="end_at"
                                                               min="07:00" max="00:00" required asp-for="end_at" />
                                                    </div>

                                                    <div class="form-group" id="eventCategory">
                                                        <small>&nbsp;<span style="color: red; font-weight: bold;">*</span> Event Category&nbsp;</small>
                                                        <select asp-for="category" style="background-color: white; opacity: 90%; width: 360px; height: 45px; border-radius: 5px;">
                                                            <option value="" disabled selected hidden>Choose Category...</option>
                                                            <option value="Default">
                                                                Default
                                                            </option>
                                                            <option value="Friends">
                                                                Friends
                                                            </option>

                                                            @{
                                                                List<Categories> categorylist = new List<Categories>();
                                                                categorylist = ViewData["categoryobjects"] as List<Categories>;
                                                                if (categorylist != null)
                                                                {
                                                                    for (int counter = 0; counter < categorylist.Count; counter++)
                                                                    {
                                                                        <option value="@categorylist[counter].GetCategoryName()">
                                                                            @categorylist[counter].GetCategoryName().Trim(';')
                                                                        </option>
                                                                    }
                                                                }
                                                            }
                                                        </select>

                                                    </div>

                                                    <div class="container" id="rem" style="height: 46px; margin-top: 40px; border-radius: 5px; opacity: 90%;">
                                                        <div class="form-group" id="eventNotifCheck">
                                                            <input class="form-controlCheck" type="checkbox"
                                                                   id="notification" name="notification" asp-for="notification" />
                                                            <label for="notification">Reminder?</label>

                                                            <label for="reminders">&emsp;&emsp; Minutes:</label>
                                                            <input class="form-controlSpinner" type="number"
                                                                   min="5" max="60" step="5" value="15" size="1"
                                                                   placeholder="Minutes" id="reminders"
                                                                   style="background-color: white; border-width: 2px; border-style: solid; border-color: #777474" asp-for="reminder" />

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="container" id="guest" style="height:170px; border-radius: 5px; opacity: 90%;">
                                                    <div class="form-group" id="eventGuestCheck">
                                                        <input class="form-controlCheck" type="checkbox"
                                                               id="guestt" name="guest" asp-for="guest" />
                                                        <label for="guestt">Guest?</label>
                                                    </div>
                                                    <div class="form-group" id="eventGuestUsername">
                                                        <input class="form-control" type="text"
                                                               placeholder="Guest Username" id="guestUsername" asp-for="guestUsername" />
                                                    </div>
                                                    <div class="form-group" id="eventGuestEmail">
                                                        <input class="form-control" type="text"
                                                               placeholder="Guest Email" id="guestEmail" asp-for="guestEmail" />
                                                    </div>
                                                </div>

                                            </form>
                                            
                                        </div>

                                        <div class="modal-footer" style="background-image: url('../Images/background2.jpeg'); border-top: 0 none;  border-right: rgba(53, 53, 53, 0.7) solid 8px; border-left: rgba(43,42,40,255) solid 8px; border-bottom: rgba(53, 53, 53, 0.7) solid 8px;">
                                            <div class="container" style="color: #FFA700; font-weight: bold; background: rgba(0, 132, 255, 0.7); border-radius: 25px;">
                                                <button type="button" id="HidebtnModal" class="btn btn-primary mr-auto">Close</button>
                                                <button type="submit" form="createform" id="createEventSubmit" class="btn btn-primary float-right">Create</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
                <span id="currentMonth"></span>
                <span id="firstDate"></span> -
                <span id="nextMonth"></span>
                <span id="lastDate"></span>,
                <span id="currentYear"></span>
            </div>
            <div>

            </div>
        </div>

        <v-app id="inspire" class="my-app">
            <v-row>
                <v-col>
                    <v-sheet height="100%">
                        <v-sheet height="100%">
                            <v-calendar ref="calendar"
                                        :now="today"
                                        :value="today"
                                        :events="events"
                                        color="primary"
                                        type="week"></v-calendar>
                        </v-sheet>
                </v-col>
            </v-row>
        </v-app>
    </div>

</body>
</html>
<script src="~/js/vue.js"></script>
<script src="~/js/vuetify.js"></script>
<script src="~/js/axios.js"></script>
<script>

    new Vue({
        el: '#app',
        vuetify: new Vuetify({
            theme: {
                dark: true,
                themes: {
                    dark: {
                        // Color is applied to selected drop down item
                        primary: '#0064A2',

                        // Uncomment this to make things worse
                        // 'primary--text': '#FF00FF'
                    }
                }
            }
        }),
        data: () => ({

            today: new Date().toLocaleDateString().split('/').join('-'),//'2021-03-12',
            events: [],
        }),
        mounted() {
            this.getData();
        },
        methods: {
            getData() {
                const that = this;
                axios.get('/MainWindow/GetWeeklyEvents')
                    .then(function (response) {
                        that.events = response.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>

<script type="text/javascript">
    var monthsInEng = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    function getSunday(date) {
        var day = date.getDay();
        var deltaDay;
        if (day == 0) {
            deltaDay = 7;
        } else {
            deltaDay = day;
        }
        var sunday = new Date(date.getTime() - deltaDay * 24 * 60 * 60 * 1000);
        return sunday; 
    }
    var sunday = getSunday(new Date());
    document.getElementById("currentMonth").innerHTML = monthsInEng[sunday.getMonth() + 1];
    var saturday = new Date(sunday.getTime() + 6 * 24 * 60 * 60 * 1000);
    document.getElementById("nextMonth").innerHTML = monthsInEng[saturday.getMonth() + 1];
    document.getElementById("firstDate").innerHTML = sunday.getDate();
    document.getElementById("lastDate").innerHTML = saturday.getDate();
    document.getElementById("currentYear").innerHTML = sunday.getFullYear();

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnclick").click(function () {
            $("#login").modal('show');
        });

        $("#HidebtnModal").click(function () {
            $("#login").modal('hide');
        });
    });
</script>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
