@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Weekly";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link href="~/css/family.css" rel="stylesheet">
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="~/css/vuetify.min.css" rel="stylesheet">

    <style>
        .my-event {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-radius: 2px;
            background-color: #1867c0;
            color: #ffffff;
            border: 1px solid #1867c0;
            font-size: 12px;
            padding: 3px;
            cursor: pointer;
            margin-bottom: 1px;
            left: 4px;
            margin-right: 8px;
            position: relative;
        }

            .my-event.with-time {
                position: absolute;
                right: 4px;
                margin-right: 0px;
            }

        .theme--light.v-calendar-daily {
            background-color: #303030;
            border-left: 1px solid #e0e0e0;
            border-top: 1px solid #e0e0e0;
        }

            .theme--light.v-calendar-daily .v-calendar-daily_head-day {
                color: #fff;
            }

        .my-app.v-application .primary--text {
            color: #fff !important;
        }

        .title {
            justify-content: center;
            font-size: 25px;
            color: gold;
        }

        .round_icon {
            width: 50px;
            height: 50px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }

        #weekHeader {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-content: space-evenly;
            margin: 3%;
        }

        #createBtn {
            background-image: url(../test/img/c3.jpg);
        }

        #create {
            flex-wrap: nowrap;
            justify-content: center;
        }
        #btnclick {
            display: inline-block;
            padding: 0.35em 1.2em;
            border: 0.1em solid #353535;
            margin: 0 0.3em 0.3em 0;
            border-radius: 0.40em;
            box-sizing: border-box;
            text-decoration: none;
            font-family: 'Roboto',sans-serif;
            font-weight: 300;
            background-color: #353535;
            color: #ACACAC;
            text-align: center;
            transition: all 0.2s;
        }
        #btnclick:hover {
            background: #424242;
        }
    </style>
</head>
<body>
    

    <div id="app" style=" width: 100%; padding-left: 12%;">
        <div id="weekHeader">
            <div id="create">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-10">
                            <button id="btnclick" type="button">
                                Create Event
                            </button>


                            <div class="modal fade" id="login">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Create Event</h4>
                                            <button type="button" class="close" data-dismiss="modal">
                                                x
                                            </button>

                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <input class="form-control" type="text"
                                                           placeholder="Username" id="=usrnametxt" />
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Password"
                                                           type="password" id="passwordtxt" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Login</button>
                                            <button type="button" id="HidebtnModal" class="btn btn-primary">
                                                Hide
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
                <span id="currentMonth"></span>
                <span id="firstDate"></span> -
                <span id="lastDate"></span>,
                <span id="currentYear"></span>
            </div>
            <div>
                <img src="~/Images/ProductivityXLogin.png" class="round_icon" alt="">

            </div>
        </div>

        <v-app id="inspire" class="my-app">
            <v-row>
                <v-col>
                    <v-sheet height="100%">
                        <v-sheet height="100%">
                            <v-calendar ref="calendar"
                                        :now="today"
                                        :value="today"
                                        :events="events"
                                        color="primary"
                                        type="week"></v-calendar>
                        </v-sheet>
                </v-col>
            </v-row>
        </v-app>
    </div>

</body>
<script src="~/js/vue.js"></script>
<script src="~/js/vuetify.js"></script>

<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify({
            theme: {
                dark: true,
                themes: {
                    dark: {
                        // Color is applied to selected drop down item
                        primary: '#0064A2',

                        // Uncomment this to make things worse
                        // 'primary--text': '#FF00FF'
                    }
                }
            }
        }),
        data: () => ({
            today: '2021-03-12',
            events: [
                {
                    name: 'Weekly Meeting',
                    start: '2021-03-11 09:00',
                    end: '2021-03-11 13:00',
                },
                {
                    name: `CS-204`,
                    start: '2021-03-10',
                },
                {
                    name: 'Work',
                    start: '2021-03-09 12:30',
                    end: '2021-03-09 17:30',
                },
            ],
        }),
        mounted() {
            // this.$refs.calendar.scrollToTime('07:00')
        },
    })

</script>
<script type="text/javascript">
    var monthsInEng = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    function getTime(n) {
        var now = new Date();
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var day = now.getDay();
        n = day == 0 ? n + 6 : n + (day - 1)
        now.setDate(now.getDate() - n);
        date = now.getDate();
        var s = year + "-" + (month < 10 ? ('0' + month) : month) + "-" + (date < 10 ? ('0' + date) : date);
        return s;
    }
    document.getElementById("currentMonth").innerHTML = monthsInEng[new Date(getTime(-4)).getMonth() + 1];
    document.getElementById("firstDate").innerHTML = new Date(getTime(0)).getDate();
    document.getElementById("lastDate").innerHTML = new Date(getTime(-6)).getDate();
    document.getElementById("currentYear").innerHTML = new Date(getTime(-4)).getFullYear();

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnclick").click(function () {
            $("#login").modal('show');
        });

        $("#HidebtnModal").click(function () {
            $("#login").modal('hide');
        });
    });
</script>
