/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#bg {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    height: 795px;
    z-index: -1;
    background-image: url('../Images/ProductivityXLogin.png');
    background-position: 0 0;
    background-repeat:no-repeat;
    background-size:cover;
    opacity: .64;
}

#bg2 {
    position: absolute;
    top: 0px;
    right: 50%;
    width: 50%;
    height: 795px;
    z-index: -1;
    background-image: url(../Images/background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .75;
}

#bg3 {
    position: absolute;
    top: 0px;
    right: 50%;
    width: 1%;
    height: 795px;
    z-index: -1;
    background-image: url(../Images/middleBar.PNG);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#loginLogo {
    height: 1px;
    left: 15%;
    position: absolute;
    top: 10%;
    width: 1px;
    transform: scale(.75, .75);
}

#loginTextInput {
    height: 1px;
    left: 14.5%;
    position: absolute;
    top: 52%;
    width: 300px;
}

input[type=text] {
    background-color: #FFA700;
    color: black;
    border: unset;
    border-radius: 25px;
    text-align: center;
}
input[type=text]:focus {
    background-color: #FFA700;
    color: black;
}

input[type=password] {
    background-color: #FFA700;
    color: black;
    border: unset;
    border-radius: 25px;
    text-align: center;
}

input:-webkit-autofill:first-line {
    color: #797979;
}

input[type=password]:focus {
    background-color: #FFA700;
    color: black;
}

input[type=email] {
    background-color: #FFA700;
    color: black;
    border: unset;
    border-radius: 25px;
    text-align: center;
}

input[type=email]:focus {
    background-color: #FFA700;
    color: black;
}

#loginButton {
    width: 100px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 72%;
    left: 21%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#loginButton:hover {
    background-color: #0062ff;
}

#loginButton:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}

#createButton {
    width: 175px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 83%;
    left: 10%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#createButton:hover {
    background-color: #0062ff;
}

#createButton:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}

#forgotPwButton {
    width: 175px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 83%;
    left: 27%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#forgotPwButton:hover {
    background-color: #0062ff;
}

#forgotPwButton:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}

#createLogo {
    height: 1px;
    left: 15%;
    position: absolute;
    top: 10%;
    width: 1px;
    transform: scale(.75, .75);
}

#createAccountTextInput {
    height: 1px;
    left: 4%;
    position: absolute;
    top: 52%;
    width: 300px;
}
#createAccountTextInput2 {
    height: 1px;
    left: 25%;
    position: absolute;
    top: 52%;
    width: 300px;
}

#backButton {
    width: 175px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 83%;
    left: 8%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#backButton:hover {
    background-color: #0062ff;
}

#backButton:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}

#createAccountButton {
    width: 175px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 83%;
    left: 29%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#createAccountButton:hover {
    background-color: #0062ff;
}

#createAccountButton:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}

#forgotLogo {
    height: 1px;
    left: 15%;
    position: absolute;
    top: 10%;
    width: 1px;
    transform: scale(.75, .75);
}

#forgotPwText {
    text-align: center;
    background: rgba(91, 86, 85, .48);
    color: #D1CFCF;
    height: 50px;
    left: 13%;
    position: absolute;
    top: 53%;
    width: 350px;
    border-radius: 25px;
}

#forgotPwEmailInput {
    height: 1px;
    left: 25%;
    position: absolute;
    top: 63%;
    width: 300px;
}

#forgotPwTextInput {
    height: 1px;
    left: 14.5%;
    position: absolute;
    top: 63%;
    width: 300px;
}

#forgotPwUsernameInput {
    height: 1px;
    left: 4%;
    position: absolute;
    top: 63%;
    width: 300px;
}

#verifyButton {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 74%;
    left: 19%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#verifyButton:hover {
    background-color: #0062ff;
}

#verifyButton:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}

#backButtonPW {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 83%;
    left: 19%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#backButtonPW:hover {
    background-color: #0062ff;
}

#backButtonPW:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}

#verifyCodeButton {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    position: absolute;
    top: 74%;
    left: 19%;
    background-color: #0084FF;
    outline: none;
    border: unset;
    color: white;
}

#verifyCodeButton:hover {
    background-color: #0062ff;
}

#verifyCodeButton:active {
    background-color: #0062ff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: unset;
}